name: Deploy to AWS

on:
  workflow_dispatch:

permissions:
  id-token: write # unless AWS cannot read Github Jwt token
  contents: read

jobs:
  aws:
    environment: production # github environment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        working-directory: ./infra
        run: npm ci
      - name: Build
        working-directory: ./infra
        run: npm run build
      - name: Configure AWS Credentials for prod account
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_PROD_ACCOUNT_ID }}:role/pdf-bill-github-actions-role
          aws-region: eu-west-1
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn clean package -Plambda
      - name: Cdk deploy
        working-directory: ./infra
        run: npx cdk deploy --all --require-approval never
